<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login/Sign Up</a></li>
            </ul>
        </nav>
    </header>
    <br>
    <h1>Login</h1>
    <br>
    <form action="/login" method="post">
        <label for="username">UserName : </label>
        <input type="text" name="username"><br><br>
        <label for="age">Age : </label>
        <input type="text" name="age"><br><br>
        <label for="course">Course : </label>
        <input type="text" name="course"><br>
        <button type="submit">Submit</button>

    </form>
</body>
</html>